name:  MoveTK-CI-Windows

on: workflow_dispatch

jobs:
  build:

    runs-on: windows-latest

    env:
      build_dir: ${{github.workspace}}\movetk-build
      src_dir: ${{github.workspace}}\movetk
      vcpkg_dir: ${{github.workspace}}\vcpkg

    steps:
      - name: Checkout vcpkg
        uses: actions/checkout@v3
        with:
            repository: microsoft/vcpkg
            path: vcpkg
            ref: '2022.04.12'
      - name: Install vcpkg
        run: ${{github.workspace}}\vcpkg\bootstrap-vcpkg.bat

      - name: Restore vcpkg dependencies from cache
        uses: actions/cache@v3
        id: cache-vcpkg
        with:
          path: ${{github.workspace}}\vcpkg\installed
          key: vcpkg-deps-${{hashFiles('${{ env.src_dir }}\src\vcpkg_response_file.txt')}}
      - name: Install vcpkg dependencies
        run: ${{github.workspace}}\vcpkg\vcpkg.exe install 

      - name: Checkout MoveTK
        uses: actions/checkout@v3
        with:
            repository: movetk/movetk
            submodules: recursive
            path: movetk   
     
      - name: Install Ninja generator
        uses: seanmiddleditch/gha-setup-ninja@master
     
      - name: Configure MoveTK with CMake and Ninja
        run: cmake -S ${{env.src_dir}} -B ${{env.build_dir}} -DCMAKE_TOOLCHAIN_FILE=${{env.vcpkg_dir}}/scripts/buildsystems/vcpkg.cmake

      - name: Build MoveTK
        run: cmake --build ${{env.build_dir}}
      - name: Run tests
        run: ctest ${{env.build_dir}}